body{
    background-color: #403938;
}

nav.navbar.navbar-dark{

    box-shadow: 1px 3px 3px rgba(231, 242, 242, .1);
}


.filter-wrapper{
    display: flex;
    margin: 15px 0;
}

.app-container{
    width:1024px;
    margin:auto;
    display:flex;
    min-height: 100%;
    background-color: #403938;
}

.price, .location{
    display: inline-block
}
/***
p {
    color: #fff;
    padding: 10px 35px;
}
***/
footer{
    background-color: rgba(84, 84, 84, .3);
    bottom: 0;
}

footer p, footer a {
    font-size: 11px;
    padding:  0 35px 15px;
    margin: 0;
}
footer a{
    color: #fff;

}