/*
.filter-wrapper{
    display: flex;
    margin: 15px 0;
}
 */
body{
    background-color: #403938; 
}

#results-cards {
    width: 100%;
}

.app-container{
    width:1024px;
    margin:auto;
    display:flex;
    min-height: 100%;
    background-color: #403938;
}
content-container{
    flex: 1 1 auto;
    width: 100%;
    margin:10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.card-deck .card{
    height: 200px;
    flex: 0 0 300px;
    background-color: #403938;
    margin: 10px 15px;
}


